#content form label{
    margin-top: 5px;
    display: block;
    width: 90%;
    font-weight: bold;
}
select{
    width: 150px;
}
input{
    width: 150px;
}
#inputContent{
    width: 90%;
    height: 500px;
}
#editContent{
    width: 90%;
    height: 500px;
}
#pagesTable{
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
}
#pagesTable th{
    border: 1px solid black;
    padding: 5px;
    background-color: lightseagreen;
}